<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="SIU-311-Maintenence-Reporting" Publisher="CN=William" Version="1.1.0.1" />
  <Properties>
    <DisplayName>SIU 311</DisplayName>
    <PublisherDisplayName>William</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SIUC311.App">
      <VisualElements DisplayName="Maintenence Reporting" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SIU 311" ForegroundText="light" BackgroundColor="#660000">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="txtfiles">
            <InfoTip>Text Files</InfoTip>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.txt</FileType>
              <FileType>.png</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="siu311">
            <Logo>Assets\Logo.png</Logo>
            <DisplayName>SIU 311</DisplayName>
          </Protocol>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="videosLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>